[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
beautifulsoup4 = "*"
bokeh = ">=2.0"
cloudpickle = "*"
cython = "*"
dask = "*"
dill = "==0.3.*"
distributed = "*"
h5py = "*"
ipywidgets = "*"
jupyter-bokeh = "==3.0.2"
jupyter-tensorboard = "*"
matplotlib = "*"
pandas = "*"
plotly = "*"
pyarrow = "*"
s3fs = "*"
scikit-image = "*"
scikit-learn = "*"
scipy = ">=1.3.*"
seaborn = "*"
sqlalchemy = "==1.3.*"
statsmodels = "==0.10.*"
tensorflow = "==2.0.0"

[requires]
python_version = "3.6"